In [4]:

import csv
f = open('C:/Users/MSI/Desktop/training data/participants1.csv')
csv_f = csv.reader(f)
for row in csv_f:
  print (row)

[';;;;;;']
[]
[';Jackson;Thompson;jackson.thompson@hotmail.com;;;']
[]
[';Luke;Wallace;luke.wallace@lycos.com;;;']
[]
[';David;Wright;david.wright@hotmail.com;;;']
[]
[';Nathaniel;Butler;nathaniel.butler@aol.com;;;']
[]
[';Noah;Simpson;noah.simpson@hotmail.com;;;']
[]
[';Eli;Mitchell;eli.mitchell@aol.com;;;']
[]
[';Xavier;Shaw;xavier.shaw@gmail.com;;;']
[]
[';Josiah;Harrison;josiah.harrison@aol.com;;;']
[]
[';Nolan;Thompson;nolan.thompson@aol.com;;;']
[]
[';Avery;Martin;avery.martin@yahoo.com;;;']
[]
[';Sydney;Allen;sydney.allen@gmail.com;;;']
[]
[';Alyssa;Alexander;alyssa.alexander@lycos.com;;;']
[]
[';Benjamin;Rodriguez;benjamin.rodriguez@aol.com;;;']
[]
[';Julia;Henry;julia.henry@gmail.com;;;']
[]
[';Luke;Jordan;luke.jordan@gmail.com;;;']
[]
[';Henry;Cooper;henry.cooper@aol.com;;;']
[]
[';Jasmine;Dixon;jasmine.dixon@hotmail.com;;;']
[]
[';Avery;Brooks;avery.brooks@lycos.com;;;']
[]
[';John;Martinez;john.martinez@gmail.com;;;']
[]
[';Xavier;Bryant;xavier.bryant@yahoo.com;;;']
[]
[';Aria;Hudson;aria.hudson@yahoo.com;;;']
[]
[';Ethan;Brooks;ethan.brooks@lycos.com;;;']
[]
[';Tristan;Spencer;tristan.spencer@gmail.com;;;']
[]
[';Kennedy;Murray;kennedy.murray@hotmail.com;;;']
[]
[';Ellie;Marshall;ellie.marshall@lycos.com;;;']
[]
[';Elijah;West;elijah.west@hotmail.com;;;']
[]
[';Jose;James;jose.james@lycos.com;;;']
[]
[';Alyssa;Watson;alyssa.watson@yahoo.com;;;']
[]
[';Elizabeth;Washington;elizabeth.washington@gmail.com;;;']
[]
[';Ariana;Foster;ariana.foster@yahoo.com;;;']
[]
[';Amelia;Robertson;amelia.robertson@gmail.com;;;']
[]
[';Aubrey;Mitchell;aubrey.mitchell@hotmail.com;;;']
[]
[';Anna;Robinson;anna.robinson@gmail.com;;;']
[]
[';Alexandra;Marshall;alexandra.marshall@yahoo.com;;;']
[]
[';Aubrey;Wood;aubrey.wood@hotmail.com;;;']
[]
[';Aubrey;Marshall;aubrey.marshall@yahoo.com;;;']
[]
[';Alexandra;Hamilton;alexandra.hamilton@yahoo.com;;;']
[]
[';Savannah;Ellis;savannah.ellis@lycos.com;;;']
[]
[';Skylar;Morris;skylar.morris@lycos.com;;;']
[]
[';Isaiah;Reyes;isaiah.reyes@aol.com;;;']
[]
[';Ella;Mitchell;ella.mitchell@lycos.com;;;']
[]
[';Grayson;Russell;grayson.russell@lycos.com;;;']
[]
[';Isabella;Hernandez;isabella.hernandez@aol.com;;;']
[]
[';Lucy;Parker;lucy.parker@aol.com;;;']
[]
[';Sarah;Sullivan;sarah.sullivan@aol.com;;;']
[]
[';Maya;Richardson;maya.richardson@gmail.com;;;']
[]
[';Evelyn;Ward;evelyn.ward@yahoo.com;;;']
[]
[';Jacob;Harris;jacob.harris@aol.com;;;']
[]
[';Hunter;Dunn;hunter.dunn@gmail.com;;;']
[]
[';Colton;Henderson;colton.henderson@aol.com;;;']
[]
[';Nevaeh;Harrison;nevaeh.harrison@gmail.com;;;']
[]
[';Genesis;Marshall;genesis.marshall@yahoo.com;;;']
[]
[';Samantha;Gonzalez;samantha.gonzalez@lycos.com;;;']
[]
[';Khloe;Shaw;khloe.shaw@lycos.com;;;']
[]
[';Lucy;Tucker;lucy.tucker@gmail.com;;;']
[]
[';Caleb;Campbell;caleb.campbell@hotmail.com;;;']
[]
[';Landon;Simpson;landon.simpson@hotmail.com;;;']
[]
[';Tyler;Wood;tyler.wood@aol.com;;;']
[]
[';Tyler;Rice;tyler.rice@yahoo.com;;;']
[]
[';David;Patterson;david.patterson@lycos.com;;;']
[]
[';Nevaeh;Russell;nevaeh.russell@lycos.com;;;']
[]
[';Daniel;Henderson;daniel.henderson@gmail.com;;;']
[]
[';Autumn;White;autumn.white@hotmail.com;;;']
[]
[';Evelyn;Coleman;evelyn.coleman@gmail.com;;;']
[]
[';Oliver;Roberts;oliver.roberts@hotmail.com;;;']
[]
[';Dylan;Graham;dylan.graham@hotmail.com;;;']
[]
[';Xavier;Gonzales;xavier.gonzales@gmail.com;;;']
[]
[';Alexandra;Gibson;alexandra.gibson@gmail.com;;;']
[]
[';Lydia;Howard;lydia.howard@hotmail.com;;;']
[]
[';Aria;Hernandez;aria.hernandez@yahoo.com;;;']
[]
[';Logan;Warren;logan.warren@hotmail.com;;;']
[]
[';Lillian;Rose;lillian.rose@lycos.com;;;']
[]
[';Jayden;Ellis;jayden.ellis@yahoo.com;;;']
[]
[';Daniel;Simmons;daniel.simmons@yahoo.com;;;']
[]
[';Easton;Graham;easton.graham@yahoo.com;;;']
[]
[';Xavier;Hunter;xavier.hunter@aol.com;;;']
[]
[';Hannah;Jones;hannah.jones@lycos.com;;;']
[]
[';Samuel;Baker;samuel.baker@aol.com;;;']
[]
[';Hudson;Lewis;hudson.lewis@lycos.com;;;']
[]
[';Allison;West;allison.west@yahoo.com;;;']
[]
[';Carson;Dixon;carson.dixon@hotmail.com;;;']

In [5]:
import csv
f = open('C:/Users/MSI/Desktop/training data/participants2.csv')
csv_f = csv.reader(f)
for row in csv_f:
  print (row)

[';;;;;;']
[]
[';Jackson;Thompson;jackson.thompson@hotmail.com;;;']
[]
[';Luke;Wallace;luke.wallace@lycos.com;;;']
[]
[';Madelyn;Dixon;madelyn.dixon@gmail.com;;;']
[]
[';Noah;Peterson;noah.peterson@hotmail.com;;;']
[]
[';David;Wright;david.wright@hotmail.com;;;']
[]
[';Nathaniel;Butler;nathaniel.butler@aol.com;;;']
[]
[';Noah;Simpson;noah.simpson@hotmail.com;;;']
[]
[';Eli;Mitchell;eli.mitchell@aol.com;;;']
[]
[';Xavier;Shaw;xavier.shaw@gmail.com;;;']
[]
[';Josiah;Harrison;josiah.harrison@aol.com;;;']
[]
[';Nolan;Thompson;nolan.thompson@aol.com;;;']
[]
[';Avery;Martin;avery.martin@yahoo.com;;;']
[]
[';Sydney;Allen;sydney.allen@gmail.com;;;']
[]
[';Alyssa;Alexander;alyssa.alexander@lycos.com;;;']
[]
[';Benjamin;Rodriguez;benjamin.rodriguez@aol.com;;;']
[]
[';Julia;Henry;julia.henry@gmail.com;;;']
[]
[';Ryder;Jackson;ryder.jackson@yahoo.com;;;']
[]
[';Luke;Jordan;luke.jordan@gmail.com;;;']
[]
[';Henry;Cooper;henry.cooper@aol.com;;;']
[]
[';Jasmine;Dixon;jasmine.dixon@hotmail.com;;;']
[]
[';Avery;Brooks;avery.brooks@lycos.com;;;']
[]
[';Liam;Mills;liam.mills@yahoo.com;;;']
[]
[';Liam;Rice;liam.rice@lycos.com;;;']
[]
[';Khloe;Lopez;khloe.lopez@aol.com;;;']
[]
[';John;Martinez;john.martinez@gmail.com;;;']
[]
[';Xavier;Bryant;xavier.bryant@yahoo.com;;;']
[]
[';Aria;Hudson;aria.hudson@yahoo.com;;;']
[]
[';Ethan;Brooks;ethan.brooks@lycos.com;;;']
[]
[';Tristan;Spencer;tristan.spencer@gmail.com;;;']
[]
[';Kennedy;Murray;kennedy.murray@hotmail.com;;;']
[]
[';Ellie;Marshall;ellie.marshall@lycos.com;;;']
[]
[';Elijah;West;elijah.west@hotmail.com;;;']
[]
[';Jose;James;jose.james@lycos.com;;;']
[]
[';Alyssa;Watson;alyssa.watson@yahoo.com;;;']
[]
[';Elizabeth;Washington;elizabeth.washington@gmail.com;;;']
[]
[';Ariana;Foster;ariana.foster@yahoo.com;;;']
[]
[';Amelia;Robertson;amelia.robertson@gmail.com;;;']
[]
[';Aubrey;Mitchell;aubrey.mitchell@hotmail.com;;;']
[]
[';Anna;Robinson;anna.robinson@gmail.com;;;']
[]
[';Alexandra;Marshall;alexandra.marshall@yahoo.com;;;']
[]
[';Aubrey;Wood;aubrey.wood@hotmail.com;;;']
[]
[';Aubrey;Marshall;aubrey.marshall@yahoo.com;;;']
[]
[';Hunter;Simmons;hunter.simmons@lycos.com;;;']
[]
[';Kayden;Stephens;kayden.stephens@hotmail.com;;;']
[]
[';Ava;Hawkins;ava.hawkins@aol.com;;;']
[]
[';Alexandra;Hamilton;alexandra.hamilton@yahoo.com;;;']
[]
[';Savannah;Ellis;savannah.ellis@lycos.com;;;']
[]
[';Kaylee;Perry;kaylee.perry@gmail.com;;;']
[]
[';Skylar;Morris;skylar.morris@lycos.com;;;']
[]
[';Isaiah;Reyes;isaiah.reyes@aol.com;;;']
[]
[';Ella;Mitchell;ella.mitchell@lycos.com;;;']
[]
[';Grayson;Russell;grayson.russell@lycos.com;;;']
[]
[';Isabella;Hernandez;isabella.hernandez@aol.com;;;']
[]
[';Lucy;Parker;lucy.parker@aol.com;;;']
[]
[';Sarah;Sullivan;sarah.sullivan@aol.com;;;']
[]
[';Maya;Richardson;maya.richardson@gmail.com;;;']
[]
[';Evelyn;Ward;evelyn.ward@yahoo.com;;;']
[]
[';Jacob;Harris;jacob.harris@aol.com;;;']
[]
[';Hunter;Dunn;hunter.dunn@gmail.com;;;']
[]
[';Zoe;Parker;zoe.parker@aol.com;;;']
[]
[';Jasmine;Murray;jasmine.murray@aol.com;;;']
[]
[';Colton;Henderson;colton.henderson@aol.com;;;']
[]
[';Nevaeh;Harrison;nevaeh.harrison@gmail.com;;;']
[]
[';Genesis;Marshall;genesis.marshall@yahoo.com;;;']
[]
[';Samantha;Gonzalez;samantha.gonzalez@lycos.com;;;']
[]
[';Khloe;Shaw;khloe.shaw@lycos.com;;;']
[]
[';Lucy;Tucker;lucy.tucker@gmail.com;;;']
[]
[';Noah;Mills;noah.mills@gmail.com;;;']
[]
[';Lucas;Roberts;lucas.roberts@yahoo.com;;;']
[]
[';Jordan;Knight;jordan.knight@gmail.com;;;']
[]
[';Skylar;Thomas;skylar.thomas@gmail.com;;;']
[]
[';Caleb;Campbell;caleb.campbell@hotmail.com;;;']
[]
[';Landon;Simpson;landon.simpson@hotmail.com;;;']
[]
[';Tyler;Wood;tyler.wood@aol.com;;;']
[]
[';Tyler;Rice;tyler.rice@yahoo.com;;;']
[]
[';David;Patterson;david.patterson@lycos.com;;;']
[]
[';Nevaeh;Russell;nevaeh.russell@lycos.com;;;']
[]
[';Daniel;Henderson;daniel.henderson@gmail.com;;;']
[]
[';Autumn;White;autumn.white@hotmail.com;;;']
[]
[';Evelyn;Coleman;evelyn.coleman@gmail.com;;;']
[]
[';Alyssa;White;alyssa.white@aol.com;;;']
[]
[';Oliver;Roberts;oliver.roberts@hotmail.com;;;']
[]
[';Dylan;Graham;dylan.graham@hotmail.com;;;']
[]
[';Xavier;Gonzales;xavier.gonzales@gmail.com;;;']
[]
[';Alexandra;Gibson;alexandra.gibson@gmail.com;;;']
[]
[';Lydia;Howard;lydia.howard@hotmail.com;;;']
[]
[';Aria;Hernandez;aria.hernandez@yahoo.com;;;']
[]
[';Logan;Warren;logan.warren@hotmail.com;;;']
[]
[';Lillian;Rose;lillian.rose@lycos.com;;;']
[]
[';Jayden;Ellis;jayden.ellis@yahoo.com;;;']
[]
[';Daniel;Simmons;daniel.simmons@yahoo.com;;;']
[]
[';Easton;Graham;easton.graham@yahoo.com;;;']
[]
[';Xavier;Hunter;xavier.hunter@aol.com;;;']
[]
[';Hannah;Jones;hannah.jones@lycos.com;;;']
[]
[';Samuel;Baker;samuel.baker@aol.com;;;']
[]
[';Hudson;Lewis;hudson.lewis@lycos.com;;;']
[]
[';Allison;West;allison.west@yahoo.com;;;']
[]
[';Carson;Dixon;carson.dixon@hotmail.com;;;']
[]
[';Jasmine;Fisher;jasmine.fisher@lycos.com;;;']
[]
[';Alexander;Stone;alexander.stone@gmail.com;;;']

In [7]:
import pandas as pd
df_participants1 = pd.read_csv('C:/Users/MSI/Desktop/training data/participants1.csv',sep=';', header = None,names = ['col1', 'col2', 'col3','col4', 'col5', 'col6','col7'])
df_participants1.head()

   col1       col2      col3                          col4  col5  col6  col7
0   NaN        NaN       NaN                           NaN   NaN   NaN   NaN
1   NaN    Jackson  Thompson  jackson.thompson@hotmail.com   NaN   NaN   NaN
2   NaN       Luke   Wallace        luke.wallace@lycos.com   NaN   NaN   NaN
3   NaN      David    Wright      david.wright@hotmail.com   NaN   NaN   NaN
4   NaN  Nathaniel    Butler      nathaniel.butler@aol.com   NaN   NaN   NaN

In [8]:
df_participants1.drop(0,0,inplace=True)
df_participants1.drop(['col1','col5','col6','col7'],1,inplace=True)
df_participants1.head()

        col2      col3                          col4
1    Jackson  Thompson  jackson.thompson@hotmail.com
2       Luke   Wallace        luke.wallace@lycos.com
3      David    Wright      david.wright@hotmail.com
4  Nathaniel    Butler      nathaniel.butler@aol.com
5       Noah   Simpson      noah.simpson@hotmail.com

In [9]:
import pandas as pd
df_participants2 = pd.read_csv('C:/Users/MSI/Desktop/training data/participants2.csv',sep=';', header = None,names = ['col1', 'col2', 'col3','col4', 'col5', 'col6','col7'])
df_participants2.head()

   col1     col2      col3                          col4  col5  col6  col7
0   NaN      NaN       NaN                           NaN   NaN   NaN   NaN
1   NaN  Jackson  Thompson  jackson.thompson@hotmail.com   NaN   NaN   NaN
2   NaN     Luke   Wallace        luke.wallace@lycos.com   NaN   NaN   NaN
3   NaN  Madelyn     Dixon       madelyn.dixon@gmail.com   NaN   NaN   NaN
4   NaN     Noah  Peterson     noah.peterson@hotmail.com   NaN   NaN   NaN

In [10]:
df_participants2.drop(0,0,inplace=True)
df_participants2.drop(['col1','col5','col6','col7'],1,inplace=True)
df_participants2.head()

      col2      col3                          col4
1  Jackson  Thompson  jackson.thompson@hotmail.com
2     Luke   Wallace        luke.wallace@lycos.com
3  Madelyn     Dixon       madelyn.dixon@gmail.com
4     Noah  Peterson     noah.peterson@hotmail.com
5    David    Wright      david.wright@hotmail.com

In [11]:
emails1 = []
emails1 = df_participants1['col4']
emails1.head()

1    jackson.thompson@hotmail.com
2          luke.wallace@lycos.com
3        david.wright@hotmail.com
4        nathaniel.butler@aol.com
5        noah.simpson@hotmail.com
Name: col4, dtype: object

In [13]:
emails2 = []
emails2 = df_participants2['col4']
emails2.head()

1    jackson.thompson@hotmail.com
2          luke.wallace@lycos.com
3         madelyn.dixon@gmail.com
4       noah.peterson@hotmail.com
5        david.wright@hotmail.com
Name: col4, dtype: object

In [15]:
emails1 = set(emails1)
emails2 = set(emails2)
second_year_participants = emails2.difference(emails1)
print(second_year_participants)

{'ryder.jackson@yahoo.com', 'ava.hawkins@aol.com', 'jasmine.murray@aol.com', 'alyssa.white@aol.com', 'kaylee.perry@gmail.com', 'hunter.simmons@lycos.com', 'noah.mills@gmail.com', 'jasmine.fisher@lycos.com', 'madelyn.dixon@gmail.com', 'zoe.parker@aol.com', 'skylar.thomas@gmail.com', 'noah.peterson@hotmail.com', 'liam.rice@lycos.com', 'lucas.roberts@yahoo.com', 'liam.mills@yahoo.com', 'jordan.knight@gmail.com', 'kayden.stephens@hotmail.com', 'alexander.stone@gmail.com', 'khloe.lopez@aol.com'}